@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Montserrat:wght@400;700&family=Work+Sans&display=swap');
body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
